@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	@media (min-width: 760px) {
		.tablet\:bg-blur {
			-webkit-backdrop-filter: blur(25px);
			backdrop-filter: blur(25px);
		}
	}
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	@media (min-width: 760px) {
		.tablet\:bg-blur {
			background-color: rgba(100, 100, 100, 0.8);
		}
	}
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.bg-blur {
		-webkit-backdrop-filter: blur(25px);
		backdrop-filter: blur(25px);
	}
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.bg-blur {
		background-color: rgba(100, 100, 100, 0.8);
	}
}
