@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-700;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  @media (min-width: 760px) {
    .tablet\:bg-blur {
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
    }
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  @media (min-width: 760px) {
    .tablet\:bg-blur {
      background-color: rgba(100, 100, 100, 0.8);
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .bg-blur {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .bg-blur {
    background-color: rgba(100, 100, 100, 0.8);
  }
}

.-translate-x-screen-1\/2 {
  --tw-translate-x: -50vw;
}

.phone-offset {
  margin-top: calc(33vh + 4rem);
}

.header-caps-bold {
  @apply uppercase text-2xl tablet:text-4xl font-bold  tracking-widest;
}

.page-content-container {
  @apply mx-auto px-10 mt-5 py-8 prose prose-blue tablet:prose-xl bg-gray-100 rounded-lg transform translate-y-5;

  max-width: 120ch !important;
}

.blue-pill {
  @apply bg-decaBlue px-4 py-2 rounded-full text-white hover:bg-blue-700 transition duration-300;
}

.white-pill {
  @apply bg-white px-4 py-2 rounded-full text-decaBlue hover:bg-blue-100 transition duration-300;
}

.blue-rounded {
  @apply bg-decaBlue px-4 py-2 rounded-md text-white hover:bg-blue-700 transition duration-300;
}

.white-rounded {
  @apply bg-white px-4 py-2 rounded-md text-decaBlue hover:bg-blue-100 transition duration-300;
}

.remove-margin {
  margin: 0 !important;
}

.event-display > * {
  color: white !important;
}

.event-display > * > a {
  color: white !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
